<%= form_for @changeset, @action, fn f -> %>
  <%= render "text_field.html", f: f, key: :name %>
  <%= render "text_field.html", f: f, key: :description %>
  <%= render "text_field.html", f: f, key: :initial_price %>

  <div>
    <%= submit "Submit" %>
  </div>
<% end %>
