<h2>Your sold auctions</h2>

<%= for auction <- sold(@conn, @datetime) do %>
  <section class="row">
    <article class="column">
      <p><%= auction.name %></p>
    </article>
    <article class="column">
      <p><%= auction.description %></p>
    </article>
    <article class="column">
      <p><%= current_price(auction) %></p>
    </article>
  </section>
<% end %>
