# .dockerignore
.git
.gitignore
.circleci
Dockerrun.aws.json

# Mix artifacts
_build
deps
*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
node_modules
uploads/files/*
priv/static/*
